extends layout

block content
    form(action='/images', method='POST')
        .fields
            .names
                label.names Enter name:
                input(type='text', name='userName', value='')
                br
            .names
                span.titleContent Please choose from the following filters according to your preferences
            .names
                label Gender:
                select(name='gender')
                    option(value='male') Male
                    option(value='female') Female
            .names
                label Ethnicity:
                select(name='ethnicity')
                    option(value='asian') Asian
                    option(value='black') Black
                    option(value='white') White
                    option(value='hispanic') Hispanic
            .names
                input(type='submit', value='Proceed')

