doctype html
html
    head
        .title
            span.titleContent Data Collection for Likes and Dislikes
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
    body
        block content
